/* You can add global styles to this file, and also import other style files */

/**************************************************************** COLOR PALETTE */

:root{
    --color-primary: rgb(145, 118, 247);
    --color-secondary: rgb(239, 237, 255);
    --color-tertiary: rgb(252, 199, 0);
    --color-cuarternary: rgb(255, 255, 255);
    --font-color: rgb(112, 112, 112);
 }

/* ------------------------------------------------TYPOGRAPHY */
@import "~bootstrap/dist/css/bootstrap.css";


 @font-face {
        font-family: 'DIN Alternate Bold';
        font-style: normal;
        font-weight: normal;
        src: local('DIN Alternate Bold'), url('assets/fonts/DINAlternate-Bold.woff') format('woff');
    }

H1,H2,H3{
    font-family: 'Din Alternate Bold', 'arial Bold';
}

p{
    font-family: 'Arial', 'sans-serif';
}

button{
    font-family: 'Din Alternate Bold';
}

