.title-header{
    padding-top:2em;
    padding-bottom: 2em;
    max-height:70vh;
    background-color: var(--color-secondary);
    color: var(--font-color);
    clip-path: polygon(41% 0, 0 0, 0 100%, 64% 100%);
    display:flex;
    align-items: center;
    position: relative;
}
.image-header{

}

.provincia-title-header{
    color: var(--color-primary);
}

.container-fluid h1{
    font-size: 100px;
    margin-left: 1.2em;
}

