.navbar-brand {
   margin-left: 3em;
}

/* Dropdown Button */
.userbtn {
    margin-right: 8em;
    fill: var(--color-primary);
    font-size: 0.2em;
    border: none;
    background:none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: fixed;
    right: 0;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display:none;
    position: fixed;
    right: 0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #707070;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  .dropdown-content svg{
    margin-right: 1em;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: var(--color-secondary);}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}