:root{
    --color-primary: #2D0FF2;
    --color-secondary: rgb(8, 66, 89, 0.8);
    --color-tertiary: rgb(230, 201, 14);
    --color-background: rgb(240, 248, 255);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', sans-serif;
    color:#272727;
}

ul, li,a {
    all: unset;
}

html {
    scroll-behavior: smooth;
  }


#header{
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color-primary);
    z-index:1;
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.2em;
    font-size: 1.2em;
    margin: 1em 3em 1em 0;
    float:right;
    color:white;
    text-transform: uppercase;   
}

#navbar li:hover{
    cursor: pointer;
    text-decoration:line-through ;
}

#navbar li{
    padding-left: 2em;
}

#welcome-section{
    height: 100vh;
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

#title-h1 > h1{
    display: flex;
    justify-content: center;
    margin: 2em 0em 2em 0em;
    padding-top:4em;
}

#technologies > img{
    margin-left: 2.3em;
}

/* -------------------------- PROYECTS ----------------------------- */

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 22px;
    margin: 2em;
}
    
.project-1 { grid-area: 1 / 1 / 2 / 2; }
.project-2 { grid-area: 1 / 2 / 2 / 3; }
.project-3 { grid-area: 1 / 3 / 2 / 4; }
.project-4 { grid-area: 2 / 1 / 3 / 2; }
.project-5 { grid-area: 2 / 2 / 3 / 3; }
.project-6 { grid-area: 2 / 3 / 3 / 4; }

.projects-grid > div {
    height: 15em;
}

#technologies{
    display: flex;
    justify-content: space-around;
}


/* CONTACT */

#github-section{
    height: 10em;
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-tertiary);
}

#github-link:hover{
    cursor:pointer;
    color:var(--color-tertiary);
}


/* -------------------------- TYPEWRITER ----------------------------- */

#typewriter h1 {
    color: var(--color-primary);
    overflow: hidden; 
    border-right: .15em solid var(--color-tertiary);
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }

  /* -------------------------- SCROLLER ----------------------------- */
  .scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
  }
  
  .scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }

  .scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid var(--color-primary);
    border-width: 0px 0 2px 2px;
}

/* -------------------------- FLIP CARDS ----------------------------- */


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    height: 100%;
    width: 100%;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: aliceblue;
    color: white;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: rgba(var(--color-tertiary), 0.);
    color: white;
    transform: rotateY(180deg);
  }

.flip-card-back > h1{
    cursor: pointer;
  }

.flip-card-back > h1:hover{
    color: var(--color-tertiary);
}

/* -------------------------- ANIMATIONS ----------------------------- */

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }

  @media only screen and (max-width: 800px) {

    #typewriter h1{
        display: inline-block;/* or inline-block */
        word-wrap: break-word;
        max-height: 6.6em;
        line-height: 2em;
        font-size: small;
    }
  
}