:root{
    --color-primary:rgb(2, 70, 105);
    --color-secondary: rgb(75, 182, 236);
    --color-tertiary: rgba(255, 255, 255, 0.6);
    --color-quaternary: rgb(56, 90, 107);
    --color-quinary: rgb(4, 122, 181);
}

body{
    height: 100%;
    background: rgb(35,39,80);
    background: linear-gradient(0deg, rgba(35,39,80,1) 0%, rgba(32,115,255,0.6923144257703081) 100%);
    font-family: 'Arial', 'sans-serif';
}

#main-container{
    margin-bottom: 60em;
}

#survey-form{
    margin-top: 25em;
    padding: 3em 3em 3em 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: fit-content;
    background-color: var(--color-tertiary) ;
    border-radius: 12px;
}


label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

#title-description-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:0em;
}


input { 
    margin-bottom: 10px; 
}

#title{
    font-size: 10vh;
    color:white;
    letter-spacing: 15px;
    font-weight: 500;
    margin-bottom: 0;
}

#description{
    font-size: 3vh;
    color: var(--color-primary);

    font-weight: 300;
}

#submit{
    margin-top: 3em;
    border-radius: 12px;
    border: none;
    width: 5em;    
    cursor: pointer;
    float: right;
}

#submit:hover{
    background-color: var(--color-primary);
    color:#ffffff;
    cursor: pointer;
}

@media screen and (max-width: 800px) {

    #title{
        font-size: 7vh;
        color:white;
        letter-spacing: 15px;
        font-weight: 500;
        margin-bottom: 0;
        text-align: center;
    }
    
    #description{
        font-size: 3vh;
        color: var(--color-primary);
        font-weight: 500;
    }

    #survey-form{
        margin: 30em 1em 2em 1em;
        min-width: 30em;
    }


}

@media screen and (max-width: 600px) {

    #title{
        font-size: 7vh;
        color:white;
        letter-spacing: 15px;
        font-weight: 500;
        margin-bottom: 0;
        text-align: center;
    }
    
    #description{
        font-size: 3vh;
        color: var(--color-primary);
        font-weight: 500;
    }

    #survey-form{
        margin: 30em 1em 2em 1em;
        min-width: 20em;
    }

}

input[type=text], input[type='email'], input[type='number'],select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
